pymupdf>=1.27.0
Pillow>=12.1.0
PyYAML>=6.0.0
paddleocr
paddleocr[doc-parser]
paddleocr[ie]
numpy
protobuf
pyqt6
grpcio-tools
pytest
pytest-xdist
pytest-testmon
fastapi
uvicorn
httpx
graphviz
moto
pytest-mock
boto3>=1.34.0
moto[s3]>=5.0.0
duckduckgo-search
