PyQt6
pyinstaller
pytest-qt
pygithub
pygit2
keyring
pytest
PyYAML
protobuf
qtawesome
qrcode
pillow
ruamel.yaml
pytest-xdist
winrt-Windows.Services.Store; sys_platform == 'win32'
winrt-Windows.ApplicationModel; sys_platform == 'win32'
