PyQt6
pyinstaller
pytest-qt
pygit2
requests
cryptography
keyring
pytest
PyYAML
protobuf
qtawesome
qrcode
pillow
ruamel.yaml
pytest-xdist
winrt-Windows.Services.Store; sys_platform == 'win32'
winrt-Windows.ApplicationModel; sys_platform == 'win32'
